/**
 * @Author: Mohammed Ismail <ikismail7>
 * @Date:   2017-08-28T13:54:29+05:30
 * @Email:  ikismail7@gmail.com
 * @Last modified by:   ikismail7
 * @Last modified time: 2017-08-29T20:42:01+05:30
 */



/* YOUR CUSTOM STYLES */
:root {
  --sidenav-height: 900px;
}


/* Set height of the grid so .sidenav can be 100% (adjust if needed) */
   .row.content {
     height: var(--sidenav-height)
   }

   /* Set gray background color and 100% height */
   .sidenav {
     background-color: #f1f1f1;
     height: var(--sidenav-height);
   }

   /* Set black background color, white text and some padding */
   footer {
     background-color: #243a51;
     color: white;
     padding: 10px;
   }
.heading{
  color: white;
}
   /* On small screens, set height to 'auto' for sidenav and grid */
   @media screen and (max-width: 767px) {
     .sidenav {
       height: auto;
       padding: 15px;
     }
     .row.content {height: auto;}
   }

a {
  color:#243a51;
}


.navbar{
  color: #fff
}
.navbar .navbar-brand{
  color: #fff;
}

.navbar .nav li a{
  color: #fff;
}
.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover{
  background-color: #fff;
  color: #333;
}

.backBlueColor{
  background : #243a51;
}

/*Side Nav*/
.nav > li > a:focus, .nav > li > a:hover{
  background-color:#243a51;
  color: #fff;
}
.mr-3{
  margin-right: 3mm;
  font-size: 20px;
}

.sidenav .btn{
  border-radius: 50px;
  padding: 0.500rem 4.13rem;
}

.btn-outline-primary:active, .btn-outline-primary:active:focus, .btn-outline-primary:focus, .btn-outline-primary:hover {
    color: #4285F4;
    border-color: #243A51;
    background-color: transparent;
}

.brand-img{
  height: 50px;
  width: 50px;
  float: left;
  margin-right: 10px;
}

.bq-even {
    border-left: 3px solid #c6214a;
}

.bq-even .bq-title{
  color: #243a51  ;
}

.bq-odd {
    border-left: 3px solid #C800BF;
}

.bq-odd .bq-title{
  color: #243a51  ;
}
.img-thumbnail{
  padding: 0;
}

/*BreadCrumbs*/
/* Style the list */
ul.breadcrumb {
   padding: 10px 16px;
   list-style: none;
   background-color: #eee;
}

/* Display list items side by side */
ul.breadcrumb li {
   display: inline;
   font-size: 18px;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li+li:before {
   padding: 8px;
   color: black;
   content: "/\00a0";
}

/* Add a color to all links inside the list */
ul.breadcrumb li a {
   color: #0275d8;
   text-decoration: none;
}

/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
   color: #01447e;
   text-decoration: underline;
}

/*Loading-bar*/
#loading-bar .bar {
  position: relative;
  background: #4285F4;
}
#loading-bar-spinner .spinner-icon {
width: 0px;
height: 0px;
border: solid 4px transparent;
border-top-color: #4285F4;
border-left-color: #4285F4;
border-radius: 10px;
}
