<!DOCTYPE html>
<html lang="en-US" ng-app="myApp">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>TechAjis-News Portal</title>
  <link rel="stylesheet" type="text/css" href="css/mdb.min.css">
  <link rel="stylesheet" href="css/components.css">
  <link rel="stylesheet" href="css/icons.css">
  <link rel="stylesheet" href="css/responsee.css">
  <link rel="stylesheet" href="owl-carousel/owl.carousel.css">
  <link rel="stylesheet" href="owl-carousel/owl.theme.css">
  <link rel='stylesheet' href="http://cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.9.0/loading-bar.min.css" type='text/css' media='all' />
  <!--  custom styles -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">
  <!-- CUSTOM STYLE -->
  <link rel="stylesheet" href="css/template-style.min.css">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

  <script src="js/jquery-3.1.1.min.js" charset="utf-8"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-3853326597189402",
    enable_page_level_ads: true
  });
</script>

</head>
<body class="" ng-controller="newsController" >

  <!-- Loading-Bar -->
  <div id="loading-bar-container"></div>

  <!-- Navigation bar -->
  <div class="line">
    <nav>
      <p class="nav-text">Tech-Ajis News</p>
      <!--Left side-->
      <div class="s-12 l-6">
        <div class="top-nav">
          <ul>
            <li><a href="#!home" ng-click="getLatest()">Home</a></li>
            <li><a href="#!topstory" ng-click="getTopStories()">Top News</a></li>
            <li><a href="#!latestStory" >Latest News</a></li>
            <li><a href="#!contact">Contact</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
  <!-- /Navigation Bar -->

  <div class="line">
    <div id="content-wrapper">
      <!-- LEFT COLUMN -->
      <div class="s-12 m-4 l-3" ng-include="'view/leftNav.html'"></div>

      <!-- Middle COLUMN -->

      <div class="s-12 m-8 l-9">
        <div class="box">
          <!-- HEADER -->
          <!-- CAROUSEL -->
          <div class="line">
            <div id="owl-demo3" class="owl-carousel margin-bottom">
              <div class="item" style="padding:5px"><a href="#!topstory" ng-click="getTopStories()">
                <img ng-src="http://placehold.it/300x70/3f51b5/fff?text=World" alt=""></a>
              </div>
              <div class="item" style="padding:5px"><a href="#!topStoriesByCategory"
                ng-click="getTopStoriesByCategory('business', 'Business')">
                <img ng-src="http://placehold.it/300x70/673ab7/fff?text=Business" alt=""></a>
              </div>
              <div class="item" style="padding:5px"><a href="#!topStoriesByCategory"
                ng-click="getTopStoriesByCategory('entertainment', 'Entertainment')">
                <img ng-src="http://placehold.it/300x70/db4437/fff?text=Entertainment" alt=""></a>
              </div>
              <div class="item" style="padding:5px"><a href="#!topStoriesByCategory"
                ng-click="getTopStoriesByCategory('gaming', 'Gaming')">
                <img ng-src="http://placehold.it/300x70/9c27b0/fff?text=Gaming" alt=""></a>
              </div>
              <div class="item" style="padding:5px"><a href="#!topStoriesByCategory"
                ng-click="getTopStoriesByCategory('music', 'Music')">
                <img ng-src="http://placehold.it/300x70/E36132/fff?text=Music" alt=""></a>
              </div>
              <div class="item" style="padding:5px"><a href="#!topStoriesByCategory"
                ng-click="getTopStoriesByCategory('politics', 'Politics')">
                <img ng-src="http://placehold.it/300x70/e91e63/fff?text=Politics" alt=""></a>
              </div>
              <div class="item" style="padding:5px"><a href="#!topStoriesByCategory"
                ng-click="getTopStoriesByCategory('science-and-nature', 'Science')">
                <img ng-src="http://placehold.it/300x70/673ab7/fff?text=Science" alt=""></a>
              </div>
              <div class="item" style="padding:5px"><a href="#!topStoriesByCategory"
                ng-click="getTopStoriesByCategory('sport', 'Sports')">
                <img ng-src="http://placehold.it/300x70/009688/fff?text=Sports" alt=""></a>
              </div>
              <div class="item" style="padding:5px"><a href="#!topStoriesByCategory"
                ng-click="getTopStoriesByCategory('technology', 'Technology')">
                <img ng-src="http://placehold.it/300x70/db4437/fff?text=Technology" alt=""></a>
              </div>
            </div>
          </div>

          <div ng-view></div>

        </div>
        <!-- FOOTER -->
        <div class="" ng-include="'view/footer.html'"></div>
      </div>

    </div>
  </div>

  <!-- Scripts -->
  <script src="js/tether.min.js" charset="utf-8"></script>
  <script src="js/bootstrap.min.js" charset="utf-8"></script>
  <script src="js/mdb.min.js" charset="utf-8"></script>
  <script type="text/javascript" src="js/responsee.js"></script>
  <script type="text/javascript" src="owl-carousel/owl.carousel.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.min.js" charset="utf-8"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.9.0/loading-bar.min.js" charset="utf-8"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/x2js/1.2.0/xml2json.min.js" charset="utf-8"></script>
   <script src="js/timeAgo.min.js" charset="utf-8"></script>
  <!-- AngularScripts -->
  <script src="scripts/app.js" charset="utf-8"></script>
  <script src="scripts/appController.min.js" charset="utf-8"></script>
  <script src="scripts/appService.min.js" charset="utf-8"></script>
  <!-- /AngularScripts -->


    <script type="text/javascript">
    jQuery(document).ready(function($) {
      $("#owl-demo3").owlCarousel({
        items : 4,
        lazyLoad : true,
        autoPlay : true,
        navigation : false,
        pagination : false
      });
    });
    </script>

</body>
</html>
