<div class="line">
  <section>
    <h2>Contact us</h2>
    <div class="line">
      <form class="customform" action="">
        <div class="line">
          <div class="margin">
            <div class="s-12 l-6">
              <iframe width="95%" height="420px;" frameborder="0" style="border:0"
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1986470.2685717964!2d79.17665746570646!3d13.484894536069719!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a5265ea4f7d3361%3A0x6e61a70b6863d433!2sChennai%2C+Tamil+Nadu!5e0!3m2!1sen!2sin!4v1504605126931" allowfullscreen></iframe>
            </div>
            <div class="s-12 l-4">
              <input name=""  placeholder="Name" title="Your Name" type="text" required=""/>
              <input name=""  placeholder="E-mail" title="Your E-mail" type="email" required=""/>

              <!-- onkeypress="return event.charCode >= 48 && event.charCode <= 57" -->
              <input name=""  placeholder="Mobile No" onkeypress="return event.charCode <= 57"
              maxlength="10" title="Your Mobile No" type="text" required=""/>
              <textarea name="" placeholder="Type Your Message/Feedback here..." rows="4" cols="80" required="" style="width: 304px;height: 155px;"></textarea>
              <div class="right">
                 <button class="btn btn-default btn-send"> <span class="fa fa-paper-plane" style="margin-right:9px"></span>Send </button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="line">
      <div class="margin">
        <div class="s-12 l-4">
          <div class="box">
            <div class="icon">
              <div class="image"><i class="fa fa-info-circle" aria-hidden="true"></i></div>
              <div class="info">
                <h3 class="title">ABOUT</h3>
                <p>
                  <i class="fa fa-envelope" aria-hidden="true"></i> &nbsp techajis@gmail.com
                  <br>
                </p>

              </div>
            </div>
            <div class="space"></div>
          </div>
        </div>
        <div class="s-12 l-4">
          <div class="box">
            <div class="icon">
              <div class="image"><i class="fa fa-mobile" aria-hidden="true"></i></div>
              <div class="info">
                <h3 class="title">CONTACT</h3>
                <p>
                  <a href="mailto:techajis@gmail.com" style="color : #2962ff">
                    <i class="fa fa-envelope" aria-hidden="true"></i> &nbsp techajis@gmail.com
                  </a>
                  <br>
                </p>

              </div>
            </div>
            <div class="space"></div>
          </div>
        </div>
        <div class="s-12 l-4">
          <div class="box">
            <div class="icon">
              <div class="image"><i class="fa fa-map-marker" aria-hidden="true"></i></div>
              <div class="info">
                <h3 class="title">ADDRESS</h3>
                <p>
                  <i class="fa fa-map-marker" aria-hidden="true"></i> &nbsp Taramani, Chennai-600113.
                </p>
              </div>
            </div>
            <div class="space"></div>
          </div>
        </div>
      </div>
    </div>

  </section>
</div>
