<div class="container-fluid">
  <div class="row">
    <div class="col-sm-9" style="float:left;">

      <a ng-href="{{data.url}}" target="_blank" ng-repeat="data in sourceData">
        <!-- <a href="#"> -->
        <blockquote class="blockquote bq-warning hoverable">
          <div class="">
            <img ng-src="https://icons.better-idea.org/icon?url={{data.url}}&size=32..50..120" alt="">
          </div>
          <div class="" style="">
            <p class="bq-title">{{data.name}}</p>
            <p>{{data.description}}</p>
          </div>

        </blockquote>
      </a>  </div>
    </div>
  </div>
