<div class="box footer">
  <footer class="line">
    <div class="s-12 l-8">
      <h5 style="text-align:center">ABOUT US</h5>
      <p style="padding:10px">With <b>TechAjisNews Portal</b> you get to know about Latest News updates,Top Stories and many more,happening around the World.You get to choose between different news web Portals.
        We provide you with necessary categories to choose from.
      </p>
    </div>
    <div class="s-12 l-4" style="text-align:center;margin-bottom:10px">
      <h5>CONTACT US</h5>
      <span class="fa fa-envelope" style="margin-right:5px"></span><a href="mailto:techajis@gmail.com" style="color : #e36132;"> TechAjis-News Portal</a><br />
    </div>
    <br>
    <div class="s-12 social" >
      <div class="s-12 l-6" style="text-align:center;">
        <a href="https://www.facebook.com" target="_blank" class="round-link fa fa-facebook"></a>
        <a href="https://twitter.com" target="_blank" class="round-link fa fa-twitter"></a>
        <a href="https://plus.google.com" target="_blank" class="round-link fa fa-google-plus"></a>
      </div>
      <div class="s-12 l-6" style="text-align:center; padding:10px">
        <span class="fa fa-copyright"></span> 2018 Copyright : <a href="#!home" style="color : #fff; background-color:darkgrey">TechAjis-News</a>
      </div>
    </div>
  </footer>
</div>
