<div class="box footer">
  <footer class="line">
    <div class="s-12">
      <div class="s-12 l-6">
        <h5>CONTACT US</h5>
        <span class="fa fa-envelope" style="margin-right:5px"></span><a href="mailto:techajis@gmail.com" style="color : #2962ff"> TechAjis-News Portal</a><br />
      </div>
      <div class="s-12 l-6 text-right right-block">
        <a href="https://www.facebook.com"><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a>
        <a href="https://twitter.com"><i id="social-tw" class="fa fa-twitter-square fa-3x social"></i></a>
        <a href="https://plus.google.com"><i id="social-gp" class="fa fa-google-plus-square fa-3x social"></i></a>
      </div>
    </div>
    <div class="s-12" style="text-align:center; padding:10px">
      <span class="fa fa-copyright"></span> 2018 Copyright : <a href="#!home" style="color : #fff; background-color:darkgrey">TechAjis-News</a>
    </div>
  </footer>
</div>
