<div class="container-fluid">
  <div class="row">
    <div class="col-sm-9" style="float:right;margin-left: 130px;">

      <ul class="breadcrumb" ng-if="category">
        <li><a href="#!home">News</a></li>
        <li>{{category}}</li>
      </ul>

      <div class="" ng-repeat="data in sourceData">

        <!-- <a href="#"> -->
        <blockquote class="blockquote bq-even hoverable" ng-if="$odd">
          <a ng-href="{{data.url}}" target="_blank">
            <img class="brand-img" ng-src="https://icons.better-idea.org/icon?url={{data.url}}&size=32..50..120" alt="">
          </a>
          <a ng-href="{{data.url}}" target="_blank">
            <p class="bq-title">{{data.name}}</p>
          </a>
          <p>{{data.description}}</p>
        </blockquote>

        <blockquote class="blockquote bq-odd hoverable" ng-if="$even">
          <a ng-href="{{data.url}}" target="_blank">
            <img class="brand-img" ng-src="https://icons.better-idea.org/icon?url={{data.url}}&size=32..50..120" alt="">
          </a>
          <a ng-href="{{data.url}}" target="_blank">
            <p class="bq-title">{{data.name}}</p>
          </a>
          <p>{{data.description}}</p>
        </blockquote>
      </div>
    </div>
  </div>
</div>
