<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "ca-pub-3853326597189402",
        enable_page_level_ads: true
      });
    </script>
  </head>
  <body>

    <h3 class="channel-title text-center" style="color:#2962ff">{{sourceName}}</h3><br/>
    <section>
      <article class="line">
        <div class="margin ">
          <div class="s-12 m-12 l-6 text-center" style="padding:15px;background-color:crimson;color:white">
            <p>Latest News</p>
          </div>
          <div class="s-12 m-12 l-6 text-center">
            <p>Top News</p>
          </div>
        </div>
      </article>
    </section>
    <section>
      <article class="line" ng-repeat="data in sourceData">
        <div class="margin">

          <div class="s-12 m-12 l-4 hm-zoom">
            <a ng-href="{{data.urlToImage}}" target="_blank">
              <img ng-src="{{data.urlToImage}}"
              alt="..." class="brand-img-auto">
            </a>
          </div>
          <div class="s-12 m-12 l-8">
            <a ng-href="{{data.url}}" target="_blank"><h4 class="channel-title">{{data.title}}</h4></a>
            <p>{{data.description}}</p>
            <h6 class="s-8"><span style="color:red">{{data.author}}</span></h6>
            <h6 class="s-4" style="text-align:right;color:blue;">{{data.publishedAt|timeago}}</h6>
            <br /><br /> <br/>
            <hr>
          </div>
        </div>
      </article>
    </section>

  </body>
</html>
