<!-- RIGHT COLUMN -->
<div>
   <div class="logo-box">
      <h1>My travel blog</h1>
   </div>
   <div class="aside-nav">
      <ul class="chevron">
         <li><a href="#"><i class="icon-list"></i>Blog</a></li>
         <li><a href="#"><i class="icon-camera"></i>Gallery</a></li>
         <li>
            <a href="#"><i class="icon-heart"></i>About</a>
            <ul>
               <li><a href="">About 1</a></li>
               <li><a href="">About 2</a></li>
            </ul>
         </li>
         <li><a href="#"><i class="icon-mail"></i>Contact</a></li>
      </ul>
      <div id="social">
         <a target="_blank" href="https://www.facebook.com/myresponsee"><i class="icon-facebook_circle"></i></a> <a target="_blank" href="https://twitter.com/MyResponsee"><i class="icon-twitter_circle"></i></a>
      </div>
   </div>
</div>
