
<div class="container-fluid">
  <div class="row content">
    <div class="col-sm-3 sidenav">
      <h4><u>Browse By Category</u></h4>
      <ul class="nav nav-pills nav-stacked">
        <li>
          <a href="#!default" ng-click="getNewsBySource('business')"><i class="fa fa-briefcase mr-3" aria-hidden="true"></i>
Business</a>
          <a href="#section1"><i class="fa fa-gamepad mr-3" aria-hidden="true"></i>Entertainment</a>
          <a href="#section1"><i class="fa fa-play-circle mr-3" aria-hidden="true"></i>Music</a>
          <a href="#section1"><i class="fa fa-soccer-ball-o mr-3" aria-hidden="true"></i>
Sports</a>
          <a href="#section1"><i class="fa fa-bank mr-3" aria-hidden="true"></i>Politics</a>
          <a href="#section1"><i class="fa fa-usb mr-3" aria-hidden="true"></i>Technology</a>
        </li>
      </ul><br>

      <h4><u>Newspapers</u></h4>
      <ul class="nav nav-pills nav-stacked">
        <div class="col-sm-2">
          <img src="" alt="">
        </div>
      </ul><br>
      </div>

      <div ng-view></div>

  </div>
</div>
