<!-- CAROUSEL -->
<div class="line">
  <div id="owl-demo" class="owl-carousel owl-theme  margin-bottom">
    <div class="item"><img src="img/940x380.jpg" alt=""></div>
    <div class="item"><img src="img/940x380-2.jpg" alt=""></div>
    <div class="item"><img src="img/940x380-3.jpg" alt=""></div>
  </div>
</div>

<h3>Top Stories</h3><br/>
<section>
  <article class="line" ng-repeat="stories in topStories | limitTo: paginationLimit()">
    <div ng-repeat="data in stories">
      <div class="margin">

        <div class="s-12 m-12 l-4 hm-zoom">
          <a ng-href="{{data.urlToImage}}" target="_blank">
            <img ng-src="{{data.urlToImage}}"
            alt="..." class="brand-img-auto">
          </a>
        </div>
        <div class="s-12 m-12 l-8">
          <a ng-href="{{data.url}}" target="_blank"><h4 class="channel-title">{{data.title}}</h4></a>
          <p>{{data.description}}</p>
          <h6 class="s-6"><span style="color:red">{{data.author}}</span></h6>
          <h6 class="s-6" style="text-align:right;color:blue;">Published At: {{data.publishedAt}}</h6>
          <br /><br />
          <hr>
        </div>
      </div>
    </div>
  </article>
  <button class="button rounded-btn s-4 margin-bottom center" ng-show="hasMoreStoriesToShow()" ng-click="showMoreItems()">
View more
</button>
</section>

<script type="text/javascript">
jQuery(document).ready(function($) {
  $("#owl-demo").owlCarousel({
    navigation : true,
    slideSpeed : 300,
    paginationSpeed : 400,
    autoPlay : true,
    singleItem:true
  });
});

</script>
