<!-- CAROUSEL -->
<div class="line">

  <div id="owl-demo2" class="owl-carousel margin-bottom">
    <div class="item" style="padding:5px"><a href="#!rssFeed" ng-click="getLocalRssFeeds()">
      <img ng-src="http://placehold.it/300x70/00bcd4/fff?text=Local" alt=""></a>
    </div>
    <div class="item" style="padding:5px"><a href="#!topstory" ng-click="getTopStories()">
      <img ng-src="http://placehold.it/300x70/3f51b5/fff?text=World" alt=""></a>
    </div>
    <div class="item" style="padding:5px"><a href="#!topStoriesByCategory"
      ng-click="getTopStoriesByCategory('business')">
      <img ng-src="http://placehold.it/300x70/673ab7/fff?text=Business" alt=""></a>
    </div>
    <div class="item" style="padding:5px"><a href="#!topStoriesByCategory"
      ng-click="getTopStoriesByCategory('entertainment')">
      <img ng-src="http://placehold.it/300x70/db4437/fff?text=Entertainment" alt=""></a>
    </div>
    <div class="item" style="padding:5px"><a href="#!topStoriesByCategory"
      ng-click="getTopStoriesByCategory('gaming')">
      <img ng-src="http://placehold.it/300x70/9c27b0/fff?text=Gaming" alt=""></a>
    </div>
    <div class="item" style="padding:5px"><a href="#!topStoriesByCategory"
      ng-click="getTopStoriesByCategory('music')">
      <img ng-src="http://placehold.it/300x70/E36132/fff?text=Music" alt=""></a>
    </div>
    <div class="item" style="padding:5px"><a href="#!topStoriesByCategory"
      ng-click="getTopStoriesByCategory('politics')">
      <img ng-src="http://placehold.it/300x70/e91e63/fff?text=Politics" alt=""></a>
    </div>
    <div class="item" style="padding:5px"><a href="#!topStoriesByCategory"
      ng-click="getTopStoriesByCategory('science-and-nature')">
      <img ng-src="http://placehold.it/300x70/673ab7/fff?text=Science" alt=""></a>
    </div>
    <div class="item" style="padding:5px"><a href="#!topStoriesByCategory"
      ng-click="getTopStoriesByCategory('sport')">
      <img ng-src="http://placehold.it/300x70/009688/fff?text=Sports" alt=""></a>
    </div>
    <div class="item" style="padding:5px"><a href="#!topStoriesByCategory"
      ng-click="getTopStoriesByCategory('technology')">
      <img ng-src="http://placehold.it/300x70/db4437/fff?text=Technology" alt=""></a>
    </div>

  </div>
</div>

<h3>Top Stories</h3><br/>
<section>
  <article class="line" ng-repeat="stories in topStories | limitTo: paginationLimit()">
    <div ng-repeat="data in stories">
      <div class="margin">

        <div class="s-12 m-12 l-4 hm-zoom">
          <a ng-href="{{data.urlToImage}}" target="_blank">
            <img ng-src="{{data.urlToImage}}"
            alt="..." class="brand-img-auto">
          </a>
        </div>
        <div class="s-12 m-12 l-8">
          <a ng-href="{{data.url}}" target="_blank"><h4 class="channel-title">{{data.title}}</h4></a>
          <p>{{data.description}}</p>
          <h6 class="s-8"><span style="color:red">{{data.author}}</span></h6>
          <h6 class="s-4" style="text-align:right;color:blue;">{{data.publishedAt}}</h6>
          <br /><br />
          <hr>
        </div>
      </div>
    </div>
  </article>
  <button class="button rounded-btn s-4 margin-bottom center" ng-show="hasMoreStoriesToShow()" ng-click="showMoreItems()">
    View more
  </button>
</section>

<script type="text/javascript">
  jQuery(document).ready(function($) {
    $("#owl-demo2").owlCarousel({
      items : 4,
      lazyLoad : true,
      autoPlay : true,
      navigation : false,
      pagination : false
    });
  });

</script>
